<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.employeesystem.mapper.EmployeeMapper">
    <resultMap id="employeeMap" type="employee">
        <id property="employeeId" column="employee_id"/>
        <id property="name" column="name"/>
        <id property="gender" column="gender"/>
        <id property="hireDate" column="hire_date"/>
        <id property="salary" column="salary"/>
        <association property="department" javaType="department">
            <id property="departmentId" column="department_id"/>
            <id property="departmentName" column="department_name"/>
            <id property="location" column="location"/>
        </association>
    </resultMap>
    <select id="selectAllEmployee" resultMap="employeeMap">
        SELECT * FROM employee e join department d on e.department_id=d.department_id
    </select>
    <select id="findEmployeeById" parameterType="Long" resultMap="employeeMap">
        SELECT * FROM employee e join department d on e.department_id=d.department_id
        where e.employee_id = #{id}
    </select>
    <update id="update" parameterType="employee">
        update employee
        <set>
            <if test="name != null">name = #{name},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="hireDate != null">hire_date = #{hireDate},</if>
            <if test="salary != null">salary = #{salary},</if>
            <if test="department != null">department_id = #{department.departmentId},</if>
        </set>
        where employee_id = #{employeeId}
    </update>
    <insert id="insert" parameterType="employee" useGeneratedKeys="true" keyProperty="employeeId" keyColumn="employee_id">
        insert into employee(NAME, department_id, hire_date, salary, gender)
        values (
                   #{name}, #{department.departmentId},#{hireDate},#{salary}, #{gender}
               )
    </insert>
    <delete id="delete" parameterType="Long">
        delete from employee where employee_id = #{employeeId}
    </delete>

</mapper>